@font-face {
  font-family: 'kanit-semibold';
  src: url("../font/kanit-semibold.otf") format("opentype");
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  /*font-family: 'kanit-semibold', 'Helvetica Neue', Arial, sans-serif;*/
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
  font-family: 'kanit-semibold', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 6rem 0 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}


/*custom styles*/
a{
  color: #fff;
}
a:hover{
  color: #fff;
  text-decoration-color: #c1c933;
}
section {
  position: relative;
}
.bg-gray {
  background-color: #f0f0f0;
}

/*common*/
.bar {
  width: 30px;
  height: 3px;
  position: absolute;
    top: 0;
    z-index: 1;
    margin: auto;
    margin-left: 50%;
}
.green-text {
  color: #c1c933;
}
.green-light-text {
  color: #ecefc1;
}
.green-bg {
  background-color: #c1c933;
}
.white-text{
  color: #fff;
  text-shadow: 0px 1px 15px rgba(150, 150, 150, 1);
}
section.slant-white {
  position: relative;
  overflow: hidden;
}
section.slant-white:after {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-86deg);
    -ms-transform: skew(-86deg);
    transform: skew(-86deg);
}
section.slant-gray {
  position: relative;
  overflow: hidden;
}
section.slant-gray:after {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-86deg);
    -ms-transform: skew(-86deg);
    transform: skew(-86deg);   
}
.carousel-control-next, 
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #441010;
  text-align: center;
  opacity: .5;
}
.carousel-control-next .next-green,
.carousel-control-prev .prev-green,
.carousel-control-next .next-white,
.carousel-control-prev .prev-white{
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center; 
  width: 40px;
  height: 40px;
}
.carousel-control-next .next-green,
.carousel-control-prev .prev-green{
  border: 1px solid #c1c933;
}
.carousel-control-next .next-white,
.carousel-control-prev .prev-white{
  border: 1px solid #fff;
}
.carousel-control-next .next-green{
  background-image: url("../img/right.png");
}
.carousel-control-prev .prev-green{
  background-image: url("../img/left.png");
}
.carousel-control-next .next-white{
  background-image: url("../img/next-w.png");
}
.carousel-control-prev .prev-white{
  background-image: url("../img/prev-w.png");
}
.carousel-control-next:focus, 
.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
  color: #ff0101;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}
.carousel-indicators li{
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #dedede;
}
.carousel-indicators li.active{
  background-color: #dedede;
}


/*header*/
header{
  height: 8.5rem;
}
.header-logo-container {
  height: 5rem;
  background-color: #fff;
}
#mainNav {
  background-color: #c1c933;
  height: 40px;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link, 
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  color: #323230;
  font-size: 12px;
}
.header-logo-bg {
  height: 5rem;
  background:#323230;
  color:#fff;
  position:relative;
  width:200px;
  text-align:center;
  line-height:40px;
}
.header-logo-bg:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 0;
  border: 40px solid transparent;
  border-left: 30px solid #323230;
}
.header-logo {
  background-image: url(../img/logo.png);
    height: 60px;
    background-size: auto 60px;
    width: 140px;
    background-repeat: no-repeat;
    top: 12%;
    position: relative;
    left: 15%;
}
.header-shortcut {
  position: absolute;
    right: 4rem;
    top: 0;
    background-color: #eaeaea;
    border-radius: 300px;
}
.header-shortcut ul {
  list-style: none;
  margin: 0;
  padding: 8px;
}
.header-shortcut ul a {
  color: #868686;
  padding: 10px;
  border-right: 1px solid #d0d0d0;
}
.header-shortcut ul a:last-child {
  border: none;
}
.header-home-icon {
  background-image: url(../img/home-icon.png);
  display: block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}


/*home carousel*/
.head-section{
  margin-top: 1.5rem;
}
.home-carousel{
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  color: #fff;
}
.home-carousel-1{
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
}
.home-carousel-2{
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
}
.home-carousel-text {
  position: absolute;
    right: 10%;
    top: 50px;
}
.btn-carousel-about {
  background-color: #c1c933;
  border-color: #c1c933;
  color: #fff;
  font-size: 12px;
  -webkit-box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
  box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
}

/*package*/
.package-box {
  min-height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 10px;
  position: relative;
}
.package-text{
  text-shadow: 0px 1px 15px rgba(150, 150, 150, 1);
  color: #fff;
  font-size: 15px;
}
.fury {
  background-image: url("../img/fury.png");
}
.leeder {
  background-image: url("../img/leeder.png");
}
.bayliner{
  background-image: url("../img/Bayliner.png");
}
.trophy{
  background-image: url("../img/trophy.png");
}
.package-bar {
  position: relative;
  margin: 0;
}
.btn-package {
  background-color: #c1c933;
  border-color: #c1c933;
  color: #fff;
  font-size: 12px;
  display: none;
}
.btn-package:hover, .btn-package:focus, .btn-package:active {
  background-color: #c1c933 !important;
  color: #fff;
}
.package-box-inner {
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
}
.package-box.active .package-box-inner {
  position: relative;
  text-align: center;
  top: 3em;
}
.package-box.active .btn-package {
  display: block;
}
.package-box.active .package-bar {
  left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
}



/*benefit*/
.benefit-container{
  position: relative;
  margin-top: 3rem;
}
.benefit-left{
  background-image: url("../img/benefit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.benefit-right {
  background-color: #323230;
  color: #fff;
  padding: 3rem;
}
.benefit-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  float: left;
  margin-right: 20px;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  -webkit-box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
  box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
}
.developer{
  background-image: url("../img/lightbulb.png");
}
.option{
  background-image: url("../img/document.png");
}
.chat{
  background-image: url("../img/chat.png");
}
.benefit-text{
  margin-left: 70px;
}
#value {
  z-index: 1;
}

/*potential section*/
.potential-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  float: left;
  margin-right: 20px;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  -webkit-box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
  box-shadow: 0px 9px 25px 2px rgba(0,0,0,0.12);
}
.unlock {
  background-image: url("../img/key.png");
  background-size: 15px 26px;
}
.year {
  background-image: url("../img/star.png");
}
.subdivision {
  background-image: url("../img/home.png");
  background-size: 22px 22px;
}
.advice {
  background-image: url("../img/advice.png");
}
.return {
  background-image: url("../img/bulleye.png");
  background-size: 26px 24px;
}
.develop {
  background-image: url("../img/handshake.png");
}
.potential-left {
  background-color: #323230;
  color: #fff;
  padding: 3rem;
}
.potential-right {
  background-image: url("../img/potential.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.potential-text {
  margin-left: 70px;
}
.potential-unlock-container{
  position: relative;
  margin-bottom: 3rem;
}
/*potential section*/

/*testimory*/
.green-square {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 60px solid #f9f9ea;
  position: absolute;
  right: 90px;
  top: -92px;
  -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}
.testimony-highlight-left,
.testimony-highlight-right {
  font-size: 10rem;
  line-height: 6rem;
}
.testimony-highlight-left{
  position: relative;
  top: 60px;
}
.testimony-highlight-right {
  float: right;
}
.testimony-comment{
  font-size: 1rem;
  font-style: italic;
}
.testimony-inner-container {
  width: 80%;
}
.testimony-user-image img {
  width: 12rem;
}

/*footer*/
footer {
  position: relative;
  background-color: #323230;
  color: #fff;
}
.footer-copyright{
  border-top: 1px solid #474745;
}
.footer-logo {
  background-image: url(../img/logo.png);
    position: absolute;
    right: 18px;
    bottom: 10px;
    height: 50px;
    background-size: auto 50px;
    width: 110px;
    background-repeat: no-repeat;
}
.footer-social {
  position: absolute;
  left: 18px;
  bottom: 10px;
  display: flex;
}
.footer-btn {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border: 1px solid #c1c933;
  border-radius: 50%;
  background-position: center; 
  display: block;
  margin-right: 10px;
}
.footer-fb-btn {
  background-image: url(../img/facebook-f.png);
}
.footer-in-btn {
  background-image: url(../img/linkedin-in.png);
}
.footer-perth b {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /*common*/
  /*.bar {
    width: 100%;
    margin: 0;
  }*/
  
  /*benefit*/
  /*.benefit-left {
    height: 178px;
  }*/
}